html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.header {
  margin: 50px auto 20px;
  text-align: center;
}

.instructions {
  width: 50%;
  margin: auto;
  text-align: center;
  display: block;
}

.whiteboard-container {
  width: 100%;
}

.whiteboard {
  height: 280px; /*bootstrap counts border-width as padding*/
  width: 280px;
  display: block;
  margin: 20px auto;
  border-style: solid;
  border-width: 3px;
}

.process-image-btn {
  height: 50px;
  width: 200px;
  display: block;
  margin: 20px auto;
  font-size: 20px;
}

.prediction-label {
  width: 50%;
  margin: auto;
  text-align: center;
  display: block;
}

.input-image-label {
  margin: 15px auto;
  display: block;
  text-align: center;
}

.input-img {
  height: 140px;
  width: 140px;
  margin: 15px auto;
  display: block;
  border-style: solid;
  border-width: 1px;
}
